@import '../../providers/ThemeProvider/mixins.scss';

.entityRow {
  width: 100%;
  max-width: 780px;
  height: 76px;
  display: flex;
  align-items: center;

  @include themeCreator;

  &:nth-child(odd) {
    @include theme('background-color', 'bg-secondary');
  }

  &:nth-child(even) {
    @include theme('background-color', 'bg-primary');
  }

  .cellDataContainer {
    padding: 5px 10px;
    flex-grow: 3;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &:not(:last-child) {
      border-right: 1px solid rgb(181, 181, 181);
    }

    &.cellDataImage {
      height: 72px;
      width: 72px;
      max-width: 72px;
      padding: 0 10px;
    }

    &.cellDataButton {
      width: 60px;
      max-width: 60px;
    }

    &.cellDataWide {
      flex-grow: 4;
    }

    &.cellDataPrice {
      flex-grow: 1;
    }

    .cellImage {
      width: 62px;
      height: 62px;
    }

    .cellTextDataContainer {
      display: flex;
      flex-direction: column;
      max-width: 220px;

      .dataItemTitle {
        height: 24px;
        line-height: 24px;
        font-size: 14px;
        @include theme('color', 'color-title');
      }

      .dataItemValue {
        height: 20px;
        line-height: 20px;
        font-size: 16px;
        @include theme('color', 'color-secondary');
      }
    }

    .cellButtonContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 60px;
    }
  }
}
