.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid rgb(123, 123, 123);
  background-color: rgb(199, 199, 199);
  transition: all ease-in-out 300ms;

  &.darkIcon {
    background-color: rgb(109, 109, 109);
  }

  &:hover {
    border: 1px solid rgb(93, 93, 93);
    background-color: rgb(164, 164, 164);
    color: rgb(110, 0, 0);
    cursor: pointer;
  }
}
