@import '../../providers/ThemeProvider/mixins.scss';

.layoutContainer {
  width: 100%;
  position: relative;

  @include theme('background-color', 'bg-layout');

  .mainContainer {
    min-height: calc(100vh - 70px);
  }
}
