@import '../../providers/ThemeProvider/mixins.scss';

.modalControlContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin: 5px 5px 10px;

  @include themeCreator;

  .modalControlInput {
    border-radius: 4px;
    margin-bottom: 10px;
    height: 30px;
    width: 100%;
    padding: 2px;

    // 4px in calc is paddings right / left
    max-width: calc(100% - 4px);

    @include theme('border', 'border-primary');
    @include theme('color', 'color-primary');
    @include theme('background-color', 'bg-secondary');
  }

  .modalControlButton {
    height: 30px;
    width: 90px;
    border-radius: 4px;
    transition: all ease-in-out 0.2s;
    cursor: pointer;

    @include theme('border', 'border-primary');
    @include theme('color', 'color-primary');
    @include theme('background-color', 'bg-secondary');

    &:hover {
      @include theme('color', 'color-secondary');
      @include theme('background-color', 'bg-primary');
    }
  }
}
