$light: (
  bg-primary: #fff,
  bg-secondary: #fbfcfe,
  bg-layout: #f3f4f6,
  color-primary: #000,
  color-secondary: #475569,
  color-title: #1e293b,
  color-icon: #000,
  color-red: rgb(135, 0, 0),
  border-none: none,
  border-primary: 1px solid #94a3b8,
  box-shadow-primary: (
    0px 1px 0px #dce5ef,
    0px 1px 4px rgba(9, 8, 61, 0.08),
  ),
);

$dark: (
  bg-primary: rgb(44, 44, 44),
  bg-secondary: rgb(35, 35, 35),
  bg-layout: rgb(88, 88, 88),
  color-primary: #eeeeee,
  color-secondary: #ddd9d9,
  color-title: #ffffff,
  color-icon: #000,
  color-red: rgb(162, 0, 0),
  border-none: none,
  border-primary: 1px solid #afc1da,
  box-shadow-primary: (
    0px 1px 0px #444,
    0px 1px 4px rgba(0, 0, 0, 0.2),
  ),
);
