@import '../../../providers/ThemeProvider/mixins.scss';

.modalAddProductContainer {
  .buttonOpenModal {
    margin: 10px;

    height: 30px;
    width: 90px;
    border-radius: 4px;
    transition: all ease-in-out 0.2s;
    cursor: pointer;

    @include theme('border', 'border-primary');
    @include theme('color', 'color-primary');
    @include theme('background-color', 'bg-secondary');

    &:hover {
      @include theme('color', 'color-secondary');
      @include theme('background-color', 'bg-primary');
    }
  }
}
